{% extends "network/layout.html" %}

{% block body %}
<!-- TODO: new post -> add backend -->
{% if user.is_authenticated %}
<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
<h1 class="header">All Posts</h1>
<div class="new-post border">
    <h3>New Post</h3>
    <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2"
            style="height: 10%; width: 50%;" required name='new_post'></textarea>
    </div>
    <input class="btn btn-primary" type="submit" style="margin-top: 10px;" value="Post">
</div>
</form>
{% endif %}
{% endblock %}