{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
    <h1 class="header">All Posts</h1>
    <div class="new-post border">
        <h3>New Post</h3>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 10%; width: 50%;" maxlength="148"
                required name='new_post'></textarea>
        </div>
        <input class="btn btn-primary" type="submit" style="margin-top: 10px;" value="Post">
    </div>
</form>

{% comment %} TODO: new post on top {% endcomment %}

{% for post in posts %}
<div class="new-post border">
    {% comment %} username {% endcomment %}
    <b>{{ post.2 }}</b>
    <br><br>
    <a href=''>Edit</a>
    {% comment %} text {% endcomment %}
    <br>
    {{ post.3 }}
    <br>
    {% comment %} time {% endcomment %}
    <div class="gray">{{ post.1|date:"d/m/Y G:i" }}
        <br>
        {% comment %} TODO: likes button to central with count likes {% endcomment %}
        <img src="static/network/filled-heart-32.png" class="heart-like-button liked" id="heart" width="16" height="16">{{ post.4 }}
        <br>
        Comment
    </div>

</div>
{% endfor %}
<hr>

{% endif %}
{% endblock %}