{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
{% comment %} TODO: stay on the same page! {% endcomment %}
<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
<h1 class="header">All Posts</h1>
<div class="new-post border">
    <h3>New Post</h3>
    <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2"
        style="height: 10%; width: 50%;" maxlength="148" required name='new_post'></textarea>
    </div>            
    <input class="btn btn-primary" type="submit" style="margin-top: 10px;" value="Post">
</div>
</form>

{% comment %} TODO: bug with time {% endcomment %}


{% comment %} TODO: add frontend {% endcomment %}
{% for post in posts %}
<div class="new-post border">
{% comment %} username {% endcomment %}
<b> username {{ post.2 }}</b>
<br><br>
Edit
{% comment %} text {% endcomment %}
<br>
text {{ post.3 }}
<br>
{% comment %} time {% endcomment %}
time {{ post.1|date:"d/m/Y G:i" }}
<br>
{% comment %} likes {% endcomment %}
likes {{ post.4 }}
<br>
Comment
{% comment %} TODO: add comments {% endcomment %}
<br>
</div>
{% endfor %}
<hr>
    
{% endif %}
{% endblock %}
