{% extends "network/layout.html" %}

{% block body %}

{% comment %} view: username, followers, following, follow button {% endcomment %}
<h1 class="header">{{ username }}
    {% comment %} TODO: add field for db user {% endcomment %}
        <span class="badge badge-secondary">Followers: {{ followers_count }}</span>
        <span class="badge badge-secondary">Following: {{ following_count }}</span>
    {% if user.username != username %}
        <form action="{% url 'follow' username %}" method='POST'>
            {% csrf_token %}
            {% comment %} if user == subs => unfollow {% endcomment %}
            {% if is_following %}
                <button type="submit" class="btn btn-danger unfollow">Unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-primary follow">Follow</button>
            {% endif %}
            {% comment %} <button type="submit" class="btn btn-primary follow">Follow</button> {% endcomment %}
            {% comment %} <button type="button" class="btn btn-danger unfollow">Unfollow</button> {% endcomment %}

            {% comment %} TODO: fix UI {% endcomment %}
        </form>
    {% endif %}
</h1>
{% if user.is_authenticated %}
{% if user.username == username %}
<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
    <div class="new-post border">
        <h3>New Post</h3>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 10%; width: 50%;" maxlength="148"
                required name='new_post'></textarea>
        </div>
        <input class="btn btn-primary" type="submit" style="margin-top: 10px;" value="Post">
    </div>
</form>
{% endif %}

{% for post in posts %}
<div class="new-post border">
    {% comment %} username {% endcomment %}
    <a href="{% url 'user' post.3 %}"><b>{{ post.3 }}</b></a>
    <br><br>
    <a href=''>Edit</a>
    {% comment %} text {% endcomment %}
    <br>
    {{ post.4 }}
    <br>
    {% comment %} time {% endcomment %}
    <div class="gray">{{ post.1|date:"d/m/Y G:i" }}
        <br>
        {% load static %}
        <img src="{% static 'network/unlike.png' %}" class="heart-like-button liked" id="heart" width="16" height="16">
        <span style="vertical-align: middle;">{{ post.5 }}</span>
        <br>
        Comment
    </div>

</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<hr>

{% endif %}
{% endblock %}